<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <title>Orders</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<section>
<h1>Your Orders</h1>
<ul>
    <li th:each="order : ${orders}">
        Order ID: <a th:href="@{/orders/{id}(id=${order.id})}" th:text="${order.id}"></a> - Status: <span th:text="${order.status}"></span> - Total: <span th:text="${order.total}"></span>
    </li>
</ul>
</section>
</body>
</html>